
name: OKTA

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # schedule:
  #   # Daily at 2 AM UTC
  #   - cron: '0 2 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  env:
    SCRIPTS_DIR: ./scripts/
    CONFIG_DIR: ./config

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  setup_env:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Make the script files executable
        run: chmod +x env-setup.sh 
      - name: Run the scripts
        run: |
          ./env-setup.sh

    deploy_okta:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Make the script files executable
        run: chmod +x env-setup.sh 
      - name: Run the scripts
        run: |
          ./deploy-okta.sh
        run: curl -X POST http://localhost:3001/oauth2/token -d "username=admin@demo.com&password=admin123"
